<div>
  <h2 id="page-heading" data-cy="PatientHeading">
    <span jhiTranslate="insightsApp.patient.home.title">Patients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="insightsApp.patient.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient"
        [routerLink]="['/patient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="insightsApp.patient.home.createLabel">Patient erstellen</span>
      </button>
    </div>
  </h2>

  <div>
    <input
      type="text"
      [(ngModel)]="queryString"
      class="form-control d-inline-block"
      style="width: 20%; vertical-align: middle"
      placeholder="Please search nickname/userId here"
    />
    <button (click)="clear()" class="btn btn-secondary">&#10006;</button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <br *ngIf="patients?.length === 0" />

  <div class="alert alert-warning" id="no-result" *ngIf="dataLoaded && patients?.length === 0">
    <span jhiTranslate="insightsApp.patient.home.notFound">Keine Patients gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="patients && patients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nickname">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.nickname">Nickname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sex">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.sex">Sex</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="medical_preconditions">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.medical_preconditions">Medical Preconditions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="health">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.health">Health</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="geo">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.geo">Geo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user_id">
            <div class="d-flex">
              <span jhiTranslate="insightsApp.patient.user_id">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a>
          </td>
          <td>{{ patient.nickname }}</td>
          <td>{{ patient.title }}</td>
          <td>{{ patient.birthday }}</td>
          <td>{{ patient.sex }}</td>
          <td>{{ patient.medical_preconditions }}</td>
          <td>
            <span
              class="label"
              [ngClass]="{
                'label-low': patient.health === 'low',
                'label-medium': patient.health === 'medium',
                'label-high': patient.health === 'high'
              }"
            >
              {{ patient.health }}
            </span>
          </td>
          <td>
            <span
              class="label"
              [ngClass]="{
                'label-low': patient.geo === 'low',
                'label-medium': patient.geo === 'medium',
                'label-high': patient.geo === 'high'
              }"
            >
              {{ patient.geo }}
            </span>
          </td>
          <td>{{ patient.user_id }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/patient', patient.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </a>

              <a [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </a>

              <button type="submit" (click)="delete(patient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patients && patients.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
