<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-patient-heading" data-cy="PatientCreateUpdateHeading" jhiTranslate="insightsApp.patient.home.createOrEditLabel">
        Patient erstellen oder bearbeiten
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.nickname" for="field_nickname">Nickname</label>
          <input type="text" class="form-control" name="nickname" id="field_nickname" data-cy="nickname" formControlName="nickname" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.birthday" for="field_birthday">Birthday</label>
          <input type="text" class="form-control" name="birthday" id="field_birthday" data-cy="birthday" formControlName="birthday" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.sex" for="field_sex">Sex</label>
          <input type="text" class="form-control" name="sex" id="field_sex" data-cy="sex" formControlName="sex" />
        </div>

        <!--
        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.medical_preconditions" for="field_medical_preconditions"
            >Medical Preconditions</label
          >
          <input
            type="text"
            class="form-control"
            name="medical_preconditions"
            id="field_medical_preconditions"
            data-cy="medical_preconditions"
            formControlName="medical_preconditions"
          />
        </div>
      -->
        <div class="mb-3">
          <label class="form-label" for="field_medical_preconditions">Medical Preconditions</label>
          <select
            class="form-control"
            id="field_medical_preconditions"
            formControlName="medical_preconditions"
            (change)="updateMedicalCondition()"
          >
            <option *ngFor="let condition of medicalConditions" [ngValue]="condition">{{ condition }}</option>
            <option value="">no disease</option>
          </select>
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Specify condition"
            [(ngModel)]="customCondition"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="updateMedicalCondition()"
          />
        </div>

        <!--
        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.health" for="field_health">Health</label>
          <input type="text" class="form-control" name="health" id="field_health" data-cy="health" formControlName="health" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.geo" for="field_geo">Geo</label>
          <input type="text" class="form-control" name="geo" id="field_geo" data-cy="geo" formControlName="geo" />
        </div>
         -->

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.health" for="field_health">Health</label>
          <select class="form-control" name="health" id="field_health" data-cy="health" formControlName="health">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
            <option value="">Unknown</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.geo" for="field_geo">Geo</label>
          <select class="form-control" name="geo" id="field_geo" data-cy="geo" formControlName="geo">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
            <option value="">Unknown</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.user_id" for="field_user_id">User Id</label>
          <input type="number" class="form-control" name="user_id" id="field_user_id" data-cy="user_id" formControlName="user_id" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.home_latitude" for="field_home_latitude">Home Latitude</label>
          <input
            type="number"
            class="form-control"
            name="home_latitude"
            id="field_home_latitude"
            data-cy="home_latitude"
            formControlName="home_latitude"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="insightsApp.patient.home_longitude" for="field_home_longitude">Home Longitude</label>
          <input
            type="number"
            class="form-control"
            name="home_longitude"
            id="field_home_longitude"
            data-cy="home_longitude"
            formControlName="home_longitude"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Abbrechen</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>
